<div class="container">

    <!-- <div class="row">
    </div> -->


    <div class="col-md-12">
        <h1>About JokeJudger</h1>
        <img src="img/icon.png" class="about-icon" />
        <h2>Goal</h2>
        <p>
            The JokeJudger application is developed by <a href="http://thomaswinters.be">Thomas Winters</a> as a means for people to get more insight in their own ability to create jokes, as well as for humor theory and generation researching purposes.
        </p>
        <h2>Usage</h2>
        <p>
            On JokeJudger, you can create and rate jokes within the "I like my [blank] like I like my [blank], [blank]" template.
            You need to create an account in order to perform these actions. The benefits of obligatory accounts are that users can see how well their jokes performed by checking their profile. Only they are capable of viewing the scores of their own jokes. Another advantage is the system knowing which jokes have already rated by specific users, so they won't have to rate the same joke twice.
        </p>
        <p>
            All jokes, however, are created anonymously, and all ratings are submitted anonymously towards other users of the JokeJudger system. This also has the additional benefit of removing any biases about the creator of the joke based on their profile/username, giving the JokeJudger users an unbiased view on the reception of their jokes.
        </p>
    </div>
</div>