<div class="container">
    <div class="row login">
        <h1 class="col-md-12">Modify password</h1>

        <form name="form" class="col-md-12" method="post" ng-submit="submitPassword()" role="form">

            <div class="form-group" ng-class="{ 'has-error': form.oldPassword.$dirty && form.oldPassword.$invalid }">
                <label for="oldPassword">
                    <strong>
                        <span class="fa fa-key" aria-hidden="true"></span>
                        Current password
                    </strong>
                </label>
                <input type="password" name="oldPassword" id="oldPassword" class="form-control" ng-model="details.oldPassword" placeholder="Current password" required />

                <span ng-show="passwordUpdateStatus !== 'failure' && form.oldPassword.$dirty && form.oldPassword.$error.required" class="help-block">Please fill in your correct current password!</span>

            </div>

            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && (form.password.$invalid || (form.confirm.$dirty && details.password !== details.confirm) ) }">
                <label for="password">
                    <strong>
                        <span class="fa fa-key" aria-hidden="true"></span>
                        New password
                    </strong>
                </label>
                <input type="password" name="password" id="password" class="form-control" ng-model="details.password" placeholder="New password" ng-minlength="6" required />

                <input type="password" name="confirm" id="confirm" class="form-control" ng-model="details.confirm" placeholder="Repeat new password" ng-minlength="6" required />

                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Please fill in a password</span>
                
                <span ng-show="form.confirm.$dirty && form.confirm.$error.required" class="help-block">Please repeat your password</span>
                
                <span ng-show="form.confirm.$dirty && details.password !== details.confirm" class="help-block">The two given passwords don't match</span>
                
                <span ng-show="form.password.$dirty && form.password.$error.minlength" class="help-block">The password isn't long enough</span>

            </div>

            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || (details.password !== details.confirm)" class="btn btn-default btn-block">Modify password</button>
            </div>
        </form>
    </div>

</div>