<div class="container">
    <div class="row login">
        <h1 class="col-md-12">Reset password</h1>


            <form class="form-inputs" ng-submit="resetPassword()" name="form" class="account-creator" role="form">
                <div class="col-md-12 register-container">
                    <div class="form-group" ng-class="{ 'has-error': form.mail.$dirty &amp;&amp; form.mail.$error.required }">
                        <label for="mail">
                            <strong>
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                Mail address
                            </strong>
                        </label>
                        <input type="email" name="mail" class="form-control" ng-model="details.mail" required placeholder="Email" autocorrect="off" autocapitalize="off"/>
                        <span ng-show="form.mail.$dirty && form.mail.$error.required" class="help-block">Please enter an e-mail adress</span>
                        <span ng-show="form.mail.$dirty && form.mail.$invalid" class="help-block">Invalid mailadress</span>
                    </div>

                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-default btn-block">Modify password</button>
                </div>
            </form>
    </div>

</div>